.item-form-container {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #4b5563 #111827; /* thumb, track */
}

/* Chrome / Edge */
.item-form-container::-webkit-scrollbar {
    width: 8px;
}

.item-form-container::-webkit-scrollbar-thumb {
    background: #4b5563; 
    border-radius: 4px;
}

.item-form-container::-webkit-scrollbar-track {
    background: #111827;
}